<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Dream</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-deiconult top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dream</a>
            </div>

    		<ul class="nav navbar-nav choose-nav">
        		<li class="active"><a href="#">Link</a></li>
        	</ul>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="iconlse">
                        <i class="icon icon-envelope icon-fw"></i> <i class="icon icon-caret-down"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="iconlse">
                        <i class="icon icon-tasks icon-fw"></i> <i class="icon icon-caret-down"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="iconlse">
                        <i class="icon icon-bell icon-fw"></i> <i class="icon icon-caret-down"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#" aria-expanded="iconlse">
                        <i class="icon icon-user icon-fw"></i> <i class="icon icon-caret-down"></i>
                    </a>
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>

        <div id="page-wrapper">
            <div id="page-inner">

                <div class="row projectlist">
                    <div class="col-md-12">
                        <span class="icon-plus-sign add"></span>
                    </div>
                    <script type="text/template" id="project-temp">
                        <%_.each(projectlist,function (project) {%>
                            <%console.log(project.get('name'))%>
                            <a class="badge project" projectid="<%=project.get('id')%>"><span><%=project.get('name')%></span><span class="icon-trash projectdelete"></span></a>
                        <% }) %>
                    </script>
                </div>
                <div class="row monitor">
                    <div class="leftcolumn col-lg-6">
                        <script type="text/template" id="module-temp">
                            <div class="monitorpage showpage">
                                <div class="header">
                                    <span class="title"><%=module.get('note')%></span>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="iconlse">
                                            <i class="icon icon-cog"></i> <i class="icon icon-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-setting">
                                            <li><a class="delete"><i class="icon-trash"></i>delete</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a class="editmodule editleft" ><i class="icon-edit"></i>edit</a>
                                            </li>
                                        <ul>
                                    </div>
                                </div>
                                <div class="monitorcontent">
                                    <%_.each(module.get('monitors'),function(monitor) {%>
                                        <div class="service">
                                            <span><b><%=monitor.host%></b></span>
                                            <%_.each(monitor.items,function(item) {%>
                                                <a  data-toggle="tooltip" data-placement="top"><span class="badge monitorok"><%=item%></span></a>
                                            <%})%>
                                        </div>
                                    <%})%>
                                </div>
                            </div>
                        </script>
                        <div class="monitorpage pagehide">
                            <span class="icon-plus-sign"></span>
                        </div>
                    </div>
                    <div class="rightcolumn col-lg-6">
                        <script type="text/template" id="chart-temp">
                            <div class="monitorpage showpage">
                                <div class="header">
                                    <span class="title"><%=module.get('note')%></span>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="iconlse">
                                            <i class="icon icon-cog"></i> <i class="icon icon-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-setting">
                                            <li><a class="delete"><i class="icon-trash"></i>delete</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a class="editmodule editright" ><i class="icon-edit"></i>edit</a>
                                            </li>
                                        <ul>
                                    </div>
                                </div>
                                <div class="monitorcontent">
                                    <div class="servicelist">
                                        <%var n=0;%>
                                        <%_.each(module.get('monitors'),function(monitor) {%>
                                            <%_.each(monitor.items,function(item) {%>
                                                <button class="btn btn-xs btn-default changechart" type="button">
                                                    <span><%=monitor.host%></span><span class="badge"><%=item%></span>
                                                </button>
                                            <%})%>
                                        <%})%>
                                        <div id="servicechart">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>

                        <div class="monitorpage pagehide">
                            <span class="icon-plus-sign"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加模块</h4>
                </div>
                <div class="modal-body">
                    <div class="inputbody">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="note" class="col-sm-2">模块备注</label>
                                <div class="col-sm-10">
                                        <input type="note" class="form-control" placeholder="模块备注" name="note">
                                </div>
                            </div>
                            <div class="form-group typeselect">
                                <label for="note" class="col-sm-2">选择类型</label>
                                <div class="col-sm-10">
                                    <select class="form-control">
                                        <option name="no">即时监测</option>
                                        <option name="yes">历史监测图表</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row changelabel">
                                <div class="col-xs-6">
                                    <label class="control-label">监测内容</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class=" control-label">监测主机</label>
                                </div>
                            </div>
                            <div class="form-group multiselect">
                                <div class="col-xs-6 firstselect" id="serviceoption">
                                    <select name="from" id="multiselect" class="form-control" size="8">
                                    </select>
                                </div>

                                <div class="col-xs-6 secondselect"id="hostoption">
                                    <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                                    </select>
                                </div>
                            </div>
                                <script type="text/template" id="option-temp">
                                    <% _.each(options,function (option) { %>
                                        <option><%= option %></option>
                                    <%})%>
                                </script>
                            <div class="bodybutton">
                                <button type="button" class="btn btn-primary btn-sm" id="exchange">交换列表</button>
                                <button type="button" class="btn btn-primary btn-sm" id="addservice" >添加</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="inputfooter">
                        <table class="table-bordered" id="servicetable">
                            <tr>
                                <th>#</th>
                                <th>主机</th>
                                <th>服务</th>
                                <th>删除</th>
                            </tr>
                        </table>
                            <script type="text/template" id="service-temp">
                                <% _.each(service.items,function (item) { %>
                                    <tr name="content">
                                        <td>#</td>
                                        <td><%= service.host %></td>
                                        <td><%= item %></td>
                                        <td><a class="deleteservice">删除</a></td>
                                    </tr>
                                <%})%>
                            </script>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="savemodule">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="addproject-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加监测</h4>
                </div>
                <div class="modal-body">     
                    <div class="inputbody">                   
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="note" class="col-sm-2">监测名称</label>
                                <div class="col-sm-10">
                                    <input type="note" class="form-control" placeholder="监测名称" name="note">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveproject">Save changes</button>                    
                </div>
            </div>
        </div>
    </div>



    <script src="lib/jquery-1.11.3.js"></script>
    <!-- Bootstrap Js -->
    <script src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script type="text/javascript" src="lib/highcharts.js"></script>
    <script src="index.js"></script>

</body>

</html>