<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Dream</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/reg-set.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <div id="warpper-top">
        </div>
        <div id="page-wrapper">
            <div class="page-container">
                <div class="col-sm-3 col-sm-offset-1 side-select">
                    <div class="host-select select">
                        <h3>主机列表</h3>
                        <select class="form-control" size="20" id="fetchList">
                        </select>
                    </div>
                    <div class="service-select select">
                        <h3>服务列表</h3>
                        <select class="form-control" size="20" id="suitList">
                        </select>
                    </div>
<!--                     <div class="select-button">
                        <button class="btn btn-primary" id="exchange">交换列表</button>
                        <button class="btn btn-primary" id="showsetting">查看配置</button>
                    </div>
 -->                </div>
                <div class="setting-list col-sm-6"></div>
            </div>
        </div>
    </div>
                    <script type="text/template" id="service-temp">
                        <div class="service" id="service<%=reg.get('objectId')%>">
                            <div class="header">
                            <%console.log(reg) %>
                                <span><strong>主机:</strong><%=reg.get('host')%></span>
                                <span><strong>服务:</strong><%=reg.get('service')%></span><a class='edit-reg'><i class="icon-edit"></i>修改</a>
                            </div>
                            <div class="content">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">输出</label>
                                        <div class="col-sm-10 content-text"><%=reg.get('sample')%></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">参数</label>
                                        <div class="col-sm-8 content-text">
                                            <% if(reg.get('parameters')!=null)
                                                    var paramList=reg.get('parameters').split(';');
                                                else
                                                    var paramList=new Array();
                                            %>
                                            <% for(var i=1;i<=paramList.length;i++){%>
                                                <span><em> $<%=i%>: </em><%=paramList[i-1]%></span>
                                            <%} %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">正则表达式</label>
                                        <div class="col-sm-8 content-text"><%=reg.get('reg')%></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">匹配输出</label>
                                        <div class="col-sm-8 content-text output" name="output">
                                            <% var regx=eval('/'+reg.get('reg')+'/g')%>
                                            <% if(regx!=null){ %>
                                                <% var match=regx.exec( reg.get('sample') )%>
                                                <% if(match!=null)
                                                    for(var i=1;i<match.length;i++){%>
                                                        <span><%=paramList[i-1]%>=</em><%=match[i]%>; </span>
                                                    <% } %>
                                            <%}%>
                                        </div>
                                    </div>                           
                                </form>
                            </div>
                        </div>
                    </script>
                    <script type="text/template" id="edit-temp">
                        <div class="service-edit service" id="service<%=reg.get('objectId')%>">
                            <div class="header">
                                <span><strong>主机:</strong><%=reg.get('host')%> </span>
                                <span><strong>服务:</strong><%=reg.get('service')%></span><a class='cancel-reg'><i class="icon-reply"></i>返回</a>
                            </div>
                            <div class="content">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">输出</label>
                                        <div class="col-sm-10 content-text"><%=reg.get('sample')%></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">参数</label>
                                        <div class="col-sm-7">
                                            <% if(reg.get('parameters')!=null)
                                                    var paramList=reg.get('parameters').split(';');
                                                else
                                                    var paramList=new Array();
                                                for(var i=0;i<paramList.length;i++){%>
                                                    <input class="form-control content-input" name="param" value="<%=paramList[i]%>">
                                            <%} if(paramList.length==0){%>
                                                    <input class="form-control content-input" name="param">
                                            <%}%>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="add-param"><i class="icon-plus-sign "></i>添加参数</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">正则表达式</label>
                                        <div class="col-sm-7">
                                            <input class="form-control" name="regexp" value="<%=reg.get('reg')%>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">匹配输出</label>
                                        <span class="col-sm-7 content-text output" name="output"></span>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary save-reg" type="button">保存更改</button>
                                        </div>
                                    </div>                           
                                </form>
                            </div>
                        </div>
                    </script>

    <script src="lib/jquery-1.11.3.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
    <script type="text/javascript" src="lib/highcharts.js"></script>
    <script src="js/reg-set.js"></script>
</body>
</html>