body {
    font-family: 'Open Sans', sans-serif;
}

body a{
    cursor: pointer;
}

 #wrapper {
    width: 100%;
    background:#09192A;
}
#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#E5EBF2;
   
}

@media(min-width:1024px) {
     #page-wrapper{
        padding: 15px 15px;
        min-height: 800px;
		margin-right: 30px;
        margin-left: 30px;
    }
}