.content-wrapper{
	height: 100%;
	margin-left:80px;
	padding: 30px 30px;
}
.content{
	min-height: 100%;
	width: 100%;
	display: table;
}
#asset{
	padding: 20px 40px;
}
.manage-table {
	overflow-y: auto;
	min-height: 560px;
	display: block;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 20px;
	border-radius: 4px;
	float: right;
}
.table>tbody>tr>td {
	padding: 5px;
}
.asset-wrapper{
	padding: 40px 240px;
	height: 100%;
}

.badge{
	font-size: 14px;
	background-color: #155AEC;
	border-radius: 3px;
	padding: 4px 10px;
}
.asset-detail .form-group{
	margin-bottom: 10px;
}
.unit-tree{
	margin: 0px 50px;
	border: 1px solid #CDCDCD;
}
.unit-tree ul{
	padding-left: 15px;
	margin:  0px 0px 0px 0px;
}
.unit-li>a:hover{
	background-color: #CDCDCD;
}
.unit-li>a.choose{
	background-color: #CDCDCD;
}
.asset-detail .form-horizontal{
	width: 550px;
	margin: auto;
	border: 1px solid #686868;
}
.asset-detail .form-horizontal>.form-group{
	padding-bottom: 5px;
	margin: 0px 0px 0px 0px;
}
.asset-detail .form-horizontal>.form-group:nth-of-type(odd){
	background:rgba(95,95,95, 0.5);
}