.content-wrapper{
	height: 100%;
	margin-left:80px;
	padding: 30px 30px;
}
.content{
	min-height: 100%;
	width: 100%;
	display: table;
}
#asset{
	padding: 20px 40px;
}
.manage-table {
	overflow-y: auto;
	height: 590px;
	display: block;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 20px;
	border-radius: 4px;
	float: right;
}
.table>tbody>tr>td {
	padding: 8px;
}
@media screen and (max-height:650px) {
	.manage-table{
		overflow-y: auto;
		height: 490px;
	}
	.table>tbody>tr>td {
		padding: 5px;
	}
}
.asset-detail{
	padding: 40px 240px;
	height: 100%;
}

.badge{
	font-size: 14px;
	background-color: #155AEC;
	border-radius: 3px;
	padding: 4px 10px;
}
