<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/font-awesome.min.css" rel="stylesheet" />
		<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
		<link href="asset.css" rel="stylesheet" />
	</head>
	<body>
		<div class="background">
		</div>
		<div class="wrapper">
			<nav class='nav-menu board'>
			</nav>
			<div class="content-wrapper">
				<div class="content board">
					<script type="text/template" id="asset-info-temp">
						<%	var type=typeList.get(search.type);
							var basic=[];
							var extend=[];
							if(showColumn){
								basic=showColumn.basic?showColumn.basic.split(','):[];
								extend=showColumn.extend?showColumn.extend.split(','):[];
							}
						%>
						<div id="asset">
							<div class="form-horizontal">
							  	<div class="form-group">
							    	<label class="col-sm-1 control-label">资产类型</label>
							    	<div class="col-sm-5">
							      		<select class="form-control" id="type-select">
							      			<option value="0">所有类型</option>
							      			<%	typeList.each(function (type) {
							      				if(type.get('id')==search.type){%>
							      					<option value="<%=type.get('id')%>" selected="selected"><%=type.get('name')%></option>
							      				<%}else{%>
							      					<option value="<%=type.get('id')%>"><%=type.get('name')%></option>
							      				<%}%>
							      			<%})%>
							      		</select>
							    	</div>
							    	<div class="col-sm-3">
							    		<a href="asset-type.html" class="btn btn-default">类型管理</a>
										<a href="#add" class="btn btn-default">添加资产</a>
										<a class="btn btn-warning" data-toggle="modal" data-target="#select-show-modal">资产视图</a>
							    	</div>
							    	<div class="export">
							    		<form action="/cmdbAPI/asset/import" method="post" enctype="multipart/form-data" id="upload">
										    <input type="file" name="file"/>
										</form>
							    		<a href="#" class="btn btn-success" id="export">导出资产</a>
							    		<a href="#" class="btn btn-success" id="import">导入资产</a>
							    		<span class="hint">未选择文件</span>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-1 control-label">搜索</label>
							    	<div class="col-sm-5">
							    		<input class="form-control matcher" value="<%=search.matcher%>">
							    	</div>
							    	<div class="col-sm-3">
							    		<select class="form-control" id="key-select">
							    			<%_.each(columns,function (col) {%>
							    				<%if(col=='type') return;%>
							    				<% var select='';
							      				if(col==search.key)
							      					select='selected';%>
							    				<option value="<%=col%>" <%=select%> extend='0'><%=columnMap[col]%></option>
							    			<%})%>
						    				<%if(search.type!=0){ %>
						    					<%_.each(typeList.get(search.type).get('properties'),function (p) {%>
								    				<% var select='';
								      				if(p.name==search.key)
								      					select='selected';%>
									    			<option value="<%=p.name%>" <%=select%> extend='1'><%=p.name%></option>
						    				<%	})%>
						    				<%}%>
							    		</select>
							    	</div>
							  	</div>
							</div>
							<div class="manage-table">
								<table class="table table-striped">
									<thead>
										<tr>
											<%if(basic.length==0&&extend.length==0){%>
												<%_.each(defaults,function (col) {%>
													<th><span><%=columnMap[col]%></span></th>
												<%})%>
											<%}else{%>
												<%_.each(basic,function (b) {%>
													<% 	var col=columnMap[b]?columnMap[b]:b;%>
													<th><span><%=col%></span></th>
												<%})%>
												<%_.each(type.get('properties'),function (p) {%>
													<%	if(extend.indexOf(p.id.toString())>=0){%>
														<th><span><%=p.name%></span></th>
													<%}%>
												<%})%>
											<%}%>
												<th><span>详情</span></th>
												<th><span>删除</span></th>
										</tr>
									</thead>
									<tbody>
										<%assetList.each(function (asset) {%>
										<tr>
											<%if(basic.length==0&&extend.length==0){%>
												<%_.each(defaults,function (col) {%>
													<td><span><%=asset.get(col)%></span></td>
												<%})%>
											<%}else{%>
												<%_.each(basic,function (b) {%>
													<td><span><%=asset.get(b)%></span></td>
												<%})%>
												<%_.each(type.get('properties'),function (p) {%>
													<%	if(extend.indexOf(p.id.toString())>=0){
															_.each(asset.get('properties'),function (data){
																if(data.pid==p.id){%>
																	<td><span><%=data.value%></span></td>
																<%}
															})%>
													<%}%>
												<%})%>
											<%}%>
											<td><a href="#detail?<%=asset.get('id')%>" class="href">详情</a></td>
											<td><a href="#" class="href remove-asset" aid="<%=asset.get('id')%>">删除</a></td>
										</tr>
										<%})%>
									</tbody>
								</table>
							</div>
							<nav class="pagination-nav">
							  	<ul class="pagination">
							  		<%var dis=search.page<=1?'disabled':''%>
							    	<li class="<%=dis%>" name="prev">
							      		<a aria-label="Previous" >
							        		<span aria-hidden="true">&laquo;</span>
							      		</a>
							    	</li>
							    	<%var offset=search.page-2>0?search.page-2:1;
							    	var end=assetList.length<15?search.page:offset+4;
							    	if(assetList.length<15&&end<=5) offset=1;
							    	%>
							    	<%for(var i=offset;i<=end;i++){%>
							    		<li class="<%=search.page==i?'active':''%>"><a><%=i%></a></li>
							    	<%}%>
							  		<%dis=assetList.length<15?'disabled':''%>
							    	<li name="next" class="<%=dis%>">
								      	<a aria-label="Next" >
									        <span aria-hidden="true">&raquo;</span>
								      	</a>
							    	</li>
							  	</ul>
							</nav>
						</div>
						<div class="modal fade" id="select-show-modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">选择信息</h4>
									</div>
									<div class="modal-body" id="column-show">
										<%if(type){%>
											<h5>基础属性</h5>
											<div class="checkbox" >
												<div class="row">
													<%_.each(columns,function (col) {%>
														<div class="col-sm-5">
															<label>
																<input type="checkbox" <%=basic.indexOf(col)>=0?'checked':''%> value="<%=col%>" target="basic"> <%=col%>
															</label>
														</div>
													<%})%>
												</div>
											</div>
											<h5>扩展属性</h5>
											<div class="checkbox">
												<div class="row">
													<%_.each(type.get('properties'),function (col) {%>
														<div class="col-sm-5">
															<label>
																<input type="checkbox" value="<%=col.id%>" <%=extend.indexOf(col.id.toString())>=0?'checked':''%> target="extend"> <%=col.name%>
															</label>
														</div>
													<%})%>
												</div>
											</div>
										<%}else{%>
											<h5>未选择类型</h5>
										<%}%>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
										<button type="button" class="btn btn-success" id="column-save">保存</button>
									</div>
								</div>
							</div>
						</div>
					</script>
					<script type="text/template" id="asset-detail-temp">
						<div class="asset-detail asset-wrapper">
							<a href="#" class="btn btn-success"><返回</a>
							<a href="#edit?<%=asset.id%>" class="btn btn-default">修改</a>
							<div class="form-horizontal">
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">资产名</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.name%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">资产序号</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.code%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">资产类型</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.type%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">所属单位</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.unit%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">制造商</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.manufacturer%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">资产用途</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.purpose%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">资产责任人</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.dutyofficer%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">购入时间</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.purchaseTime%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">上架时间</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.applytime%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">管理IP地址</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.ipAddress%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">宿主机</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.host%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">机房</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.serverRoom%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">机架号</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.bracketId%></label>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">机位</label>
							      	<label class="col-sm-8 control-label label-content"><%=asset.placement%></label>
							  	</div>
							  	<%_.each(asset.properties,function (p) {%>
								  	<div class="form-group">
								    	<label class="col-sm-4 control-label"><%=p.name%></label>
								      	<label class="col-sm-8 control-label label-content"><%=p.value%></label>
								  	</div>
							  	<%})%>
							  	<div class="form-group">
							    	<label class="col-sm-4 control-label">操作</label>
							    	<div class="col-sm-8 control-label label-content">
							  			<%_.each(asset.typeDetail.operations,function (op) {%>
							    			<a class="badge"><%=op.name%></a>
							    		<%})%>
							    	</div>
							  	</div>
							</div>
						</div>
					</script>
					<script type="text/template" id="asset-edit-temp">
						<div class="asset-edit asset-wrapper">
							<a href="#" class="btn btn-success"><返回</a>
							<div class="form-horizontal">
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产类型</label>
							      	<div class="col-sm-6">
							      		<select class="form-control">
							      			<%typeList.each(function (type) {
							      				if(type.get('id')==asset.typeDetail.id){%>
													<option value="<%=type.get('id')%>" selected="selected"><%=type.get('name')%></option>
							      				<%}else{%>
							      					<option value="<%=type.get('id')%>"><%=type.get('name')%></option>
							      				<%}%>
							      			<%})%>
							      		</select>
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产名</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.name%>" name="name">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产序号</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.code%>" name="code">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">制造商</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.manufacturer%>" name="manufacturer">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产用途</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.purpose%>" name="purpose">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产责任人</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.dutyofficer%>" name="dutyofficer">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">购入时间</label>
							    	<div class="col-sm-6">
							    		<input size="16" readonly class="form_datetime form-control" name="purchaseTime" value="<%=asset.purchaseTime%>">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">上架时间</label>
							    	<div class="col-sm-6">
							    		<input size="16" readonly class="form_datetime form-control" name="applyTime" value="<%=asset.applyTime%>">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">管理IP地址</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.ipAddress%>" name="ipAddress">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">宿主机</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.host%>" name="host">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机房</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.serverRoom%>" name="serverRoom">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机架号</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.bracketId%>" name="bracketId">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机位</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.placement%>" name="placement">
							      	</div>
							  	</div>
							  	<%_.each(asset.properties,function (p) {%>
								  	<div class="form-group">
								    	<label class="col-sm-3 control-label"><%=p.name%></label>
								      	<div class="col-sm-6">
											<input class="form-control" value="<%=p.value%>" name="<%=p.name%>">
								      	</div>
								  	</div>
							  	<%})%>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">单位</label>
							      	<div class="col-sm-6">
							      		<label><%=asset.unit%></label>
							    		<button class="btn btn-default" id="unit">选择单位</button>
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">操作</label>
							    	<div class="col-sm-6 control-label label-content">
							  			<%_.each(asset.typeDetail.operations,function (op) {%>
							    			<a class="badge"><%=op.name%></a>
							    		<%})%>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<div class="col-sm-offset-3 col-sm-2">
							    		<button class="btn btn-default" id="save">保存</button>
							    	</div>
							  	</div>
							</div>
						</div>
					</script>
					<script type="text/template" id="asset-add-temp">
						<div class="asset-add asset-wrapper">
							<a href="#" class="btn btn-success"><返回</a>
							<div class="form-horizontal">
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产类型</label>
							      	<div class="col-sm-6">
							      		<select class="form-control">
							      			<option value="0">选择类型</option>
							      			<%typeList.each(function (type) {
							      				if(type.get('id')==asset.typeDetail.id){%>
													<option value="<%=type.get('id')%>" selected="selected"><%=type.get('name')%></option>
							      				<%}else{%>
							      					<option value="<%=type.get('id')%>"><%=type.get('name')%></option>
							      				<%}%>
							      			<%})%>
							      		</select>
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产名</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.name%>" name="name">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产序号</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.code%>" name="code">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">制造商</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.manufacturer%>" name="manufacturer">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产用途</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.purpose%>" name="purpose">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">资产责任人</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.dutyofficer%>" name="dutyofficer">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">购入时间</label>
							    	<div class="col-sm-6">
							    		<input size="16" readonly class="form_datetime form-control" name="purchaseTime" value="<%=asset.purchaseTime%>">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">上架时间</label>
							    	<div class="col-sm-6">
							    		<input size="16" readonly class="form_datetime form-control" name="applyTime" value="<%=asset.applyTime%>">
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">管理IP地址</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.ipAddress%>" name="ipAddress">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">宿主机</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.host%>" name="host">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机房</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.serverRoom%>" name="serverRoom">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机架号</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.bracketId%>" name="bracketId">
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">机位</label>
							      	<div class="col-sm-6">
										<input class="form-control" value="<%=asset.placement%>" name="placement">
							      	</div>
							  	</div>
							  	<%_.each(asset.properties,function (p) {%>
								  	<div class="form-group">
								    	<label class="col-sm-3 control-label"><%=p.name%></label>
								      	<div class="col-sm-6">
											<input class="form-control" value="<%=p.value%>" name="<%=p.name%>">
								      	</div>
								  	</div>
							  	<%})%>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">单位</label>
							      	<div class="col-sm-6">
							      		<label><%=asset.unit%></label>
							    		<button class="btn btn-default" id="unit">选择单位</button>
							      	</div>
							  	</div>
							  	<div class="form-group">
							    	<label class="col-sm-3 control-label">操作</label>
							    	<div class="col-sm-6 control-label label-content">
							  			<%_.each(asset.typeDetail.operations,function (op) {%>
							    			<a class="badge"><%=op.name%></a>
							    		<%})%>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<div class="col-sm-offset-3 col-sm-5">
							    		<button class="btn btn-default" id="save">保存</button>
							    	</div>
							  	</div>
							</div>
						</div>
					</script>

				</div>
			</div>
		</div>
		<div class="modal fade" id="unit-modal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">选择单位</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="unit-tree"></div>
		      		<script type="text/javascript">
						function parse (tree) {
							var template=_.template($('#unit-nav-temp').html());
							return template({trees:tree.children,parent:tree.id});
						}
					</script>
					<script type="text/template" id="unit-nav-temp">
						<%_.each(trees,function (tree) {%>
							<ul >
								<li class='unit-li active'>
								<%if(tree.children.length>0){%>
									<a class="parent" uid="<%=tree.id%>">
										<i class="tree-icon">
											<i class="icon-caret-down"></i>
											<i class="icon-caret-right"></i>
										</i>
										<span><%=tree.name%></span>
									</a>
								<%}else{%>
									<a class="children" uid="<%=tree.id%>">
										<span><%=tree.name%></span>
									</a>
								<%}%>
								<%=parse(tree)%>
								</li>
							</ul>
						<%})%>
					</script>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal"><span>关闭</span></button>
		        <button type="button" class="btn btn-primary" id="unit-choose">选择</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<script type="text/javascript" src="require.js" data-main="app/asset.js"></script>
	</body>
</html>
