.content-wrapper{
	height: 100%;
	margin-left:80px;
	padding: 30px 30px;
}
.content{
	height: 100%;
}

.operation-nav{
	height: 100%;
	float: left;
	width: 35%;
	padding: 70px 0px;
	padding-left: 160px;
}
@media screen and (max-width:1200px){
	.operation-nav{
		padding-left: 100px;
	}
}
.operation-edit{
	height: 100%;
	float: left;
	width: 50%;
	padding: 130px 0px;
}
.operation-tree{
	padding: 10px 0px 10px 10px;
	width: 200px;
	border: 1px solid #fff;
	height: 80%;
	border-radius: 4px;
	margin-top: 10px
}
.operation-tree ul{
	padding-left: 10px;
}
.badge{
	background-color: #412FC9;
	border-radius: 4px;
	font-size: 13px;
}
.badge-remove:hover{
	color: #FF0202;
}
a.children:hover>span{
	color: #444;
	font-weight: 800;
}
a.children.active>span{
	color: #444;
	font-weight: 800;
}
/*.dropdown:hover + .children{
	background: rgba(55,55,55,0.5);
}*/