body{
	overflow-y:hidden;
}
hr {
	margin: 0px;
	/*margin-bottom: 10px;*/
	border: 0;
	border-top: 1px solid #ccc;
}
.left-nav{
	width:240px;
	height:100%;
	position: fixed;
	border-right: 1px solid #ccc;
	box-shadow: 0px 0px 11px 1px #ccc;
	overflow-y: auto;
	padding-bottom: 47px;
}
.operation{
	padding: 10px;
	width: 49%;
	display: inline-block;
}
#add-product{

}
.all-commit{
	width: 49%;
	display: inline-block;
	text-align: center;	
/*	color: #fff;
	background-color: #3399FF;*/
	padding: 10px;
}
.update{
	cursor: pointer;
	text-align: center;
	padding:7px;
	color: #337ab7;
	border-bottom: solid 1px #ccc;
}
.update:hover{
	color: #fff;
	background-color: #337ab7;
}
.search-file{
	padding: 0px 10px;
}
.search-file input{
	height: 28px;
	padding: 8px 8px;
	border-radius: 3px;
}
.product-list.dir-list{
	display: block;
	list-style: none;
	padding: 0px 0px;
}
.dir-list .content{
	padding: 5px 10px 5px 0px;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	display: inline-block;
}
.file>.content{
	padding: 5px 10px;
}
.product-list>.dir{
	padding-left: 0px;
}
.dir{
	padding-left: 10px;
}
.file{
	padding-left: 10px;
}
.content.confirm{
	background-color: #337ab7;
	color: #eee;
}
.content.confirm .setting{
	display: inline;
}
.content .setting{
	float: right;
	display: none;
}
.product-list .content:hover{
	background-color: #337ab7;
	color: #eee;
}
.product-list .content:hover  .setting{
	display: inline;
}
.dir-caret{
	padding: 7px 5px 7px 10px;
}
.dir-caret:hover{
	color: #FF6666;
}
.icon-caret-down.dir-caret{
	display: none;
}
.dir.active>.content>.icon-caret-down.dir-caret{
	display: inline;
}
.dir.active>.content>.icon-caret-right.dir-caret{
	display: none;
}
.dir.active>.dir-list{
	display: block;
}
.dir>.dir-list{
	display: none;
}
.component-list{
	list-style: none;
	padding-left: 0px;
}
.dir-list{
	display: none;
	list-style: none;
	padding-left: 0px;
}
.setting:hover{
	font-size: 17px;
}
.setting-dropdown{
	top: 22px;
	left: 120px;
	right: 10px;
	list-style: none;
	border: 1px solid #ccc;
	padding: 0px;
	border-radius: 3px;
	z-index: 1000;
	min-width: 100px;
}
.setting-dropdown a{
	text-align: left;
	padding: 2px 10px;
	display: block;
	color: #555;
	text-decoration: none;
}
.setting-dropdown a:hover{
	background-color: #eee;
}
.page-wrapper{
	overflow-y: auto;
	height: 92%;
	margin-left: 260px;
	margin-right: 220px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-shadow: 0px 0px 5px 1px #ccc;
}
@media (min-height: 600px){
	.page-wrapper{
		height: 94%;
	}
}
.edit-board{
	padding: 20px 30px;
	height: 85%;
}
.edit-board>span{
	margin-left: 50px;
	font-size: 18px;
	color: #FF9966;
}
.edit-board.reader-board>span{
	color: #555;
}
.edit-board .file-op{
	padding: 2px 9px;
	border-radius: 3px;
	margin-left: 5px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}
.edit-board .edit-file{
	background-color: #009966;
}
.edit-board .copy-file{
	background-color: #3366FF;
}
.edit-board .diff-file{
	background-color: #FFCC66;
}
.edit-board input{
	border-radius: 3px;
}
.form-group {
	margin-bottom: 5px;
}
.file-type{
	margin-bottom: 5px;	
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-top: 0px;
}
.file-type select {
	display: inline-block;
	width: 250px;
	height: 30px;
	padding: 3px 8px;
}
#reader{
	position: relative;
	width:100%;
	height: 85%;
}
#editor{
	position: relative;
	width:100%;
	height: 80%;
}
.diff-board>span{
	margin-left: 30px;
	color: #337ab7;
}
.diff-board{
	padding: 20px 30px;
}
#diff{
	position: relative;
	width:100%;
	height: 80%;	
}
.comment-field{
	margin-top: 10px;
}
.right-nav{
	height: 100%;
	right: 0px;
	position: fixed;
	width: 200px;
	display: inline-block;
	border-left: 1px solid #ccc;
	box-shadow: 0px 0px 11px 1px #ccc;
	overflow-y: auto;
}
.new-cache.hide{
	display: none;
}
.new-cache.active{
	background-color: #337ab7;
	color: #eee;
}
.new-cache{
	cursor: pointer;
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
}
.version-list{
	overflow-y:auto;
	list-style: none;
	padding: 0px;
	padding-bottom: 90px;
}
.version-list >li{
	padding: 10px 25px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px -4px 12px 1px #eee inset;
	cursor: pointer;
}
.version-list >li:hover{
	background-color: #efefef;
}
.version-list >li.active{
	padding: 15px 0px 15px 10px;
	box-shadow: none;
	color: #eee;
	background-color: #337ab7;
}
.version{
	position: relative;
	text-align: left;
}
.version p{
	margin-bottom: 0px;
	display: none;
}
.active .version p{
	display: block;
}
.version-dropdown{
	top: 20px;
	min-width: 120px;
}
.version-dropdown >a {
	color: #333;
	text-decoration: none;
	/*padding: 5px;*/
}
.version-dropdown li{
	padding: 3px 10px;
}
.version-dropdown li:hover{
	background-color: #eee;
}
.commit-buttons>button{
	margin: 10px 0px 0px 10px;
	padding: 6px 50px;
	float: right;
}
.component-content{
	height: 100%;
	padding: 0px;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0px;
}
.comp-change-content{
	height: 72%;
	padding: 0px;
	list-style: none;
	overflow-y: auto;	
	margin-bottom: 0px;
}
.comp-change-content .checkbox{
	display: inline-block;
	margin: 0px 0px 0px 20px;
}
.commit-success{
	font-size: 17px;
	padding: 20px 30px;
}
.save-success.show{
	display: inline-block;
}
.save-message{
	float: right;
	padding-top: 16px;
}
.save-message .save-success{
	color: green;
}
.save-message .save-fail{
	color: red;
}
.save-message .save-doing{
	color: grey;
}
/*.save-message.doing >.save-doing{
	display: inline-block;
}
.save-message.success >.save-success{
	display: inline-block;
}
.save-message.fail >.save-fail{
	display: inline-block;
}*/
.file-info{
	width: 100%;
	display: table;
	padding: 5px 25px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px -4px 12px 1px #eee inset;
}
.file-info>span{
	font-size: 16px;
	color: #3366CC;
}
.file-info>span.add{
	color: #3366CC;
}
.file-info>span.modify{
	color: #339966;
}
.file-info>span.delete{
	color: #CC3333;
}
.file-info div{
	padding: 0px;
}
.component-comment{
	margin: 10px 20px;
}
.component-commit{
	margin: 0px 20px;
}
.file-hint.active{
	display: block;
}
.file-hint{
	padding-right: 29px;
	padding-left: 1px;
	position: absolute;
	z-index: 1001;
	width: 100%;
	display: none;
}
.file-hint ul{
	padding: 0px;
	list-style: none;
	border: 1px solid #337ab7;
}
.file-hint ul li{
	background-color: #fff;
}
.file-hint ul li:hover{
	background-color: #eee;	
}
.conflict-hint{
	cursor: pointer;
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
	background-color: #d43f3a;
	color: #fff;
}
.conflict-hint.non-conflict{
	background-color: #dff0d8;
	color: #3c763d;
}
.version-list .conflict-li{
	text-decoration: none;
	padding: 10px 5px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px -4px 12px 1px #eee inset;
}
.version-list>a{
	text-decoration: none;
	color: #555;
}
.version-list>a:hover{
	color:#d43f3a;
}
#conflict{
	position: relative;
	width: 100%;
	height: 85%;
}