<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/font-awesome.min.css" rel="stylesheet" />
		<link href="css/config.css" rel="stylesheet" />
    	<link href="../top.css" rel="stylesheet" />
	</head>
	<body>
	    <div class="header">
	    </div>
		<div class="wrapper" style="margin-top:47px">
			<div class="left-nav">
				<div class="operation">
					<a href="javascript:void(0)" id="add-product"><i class="icon-plus-sign"></i> 添加产品</a>
				</div>
				<a href="#commit" class="all-commit"><i class="icon-circle-arrow-up"></i> 提交更改</a>
  				<hr>
				<div class="form-group update">
  				</div>
				<div class="form-group search-file">
    				<input class="form-control" placeholder="search file..">
  				</div>

   				<div id="file-list">
   				</div>
  				<script type="text/javascript">
  					function showDir(dirs,deep) {
						var temp=_.template($('#dir-list-temp').html());
						return temp({dirs:dirs,deep:deep});
  					}
  				</script>
  				<script type="text/template" id="dir-list-temp">
  					<% var icon=""; %>
  					<% switch(deep){
  						case 0:
							icon='<i class="icon-th-list"/>';
							break;
  						case 1:
							icon='<i class="icon-columns"/>';
							break;
						default:
							icon='<i class="icon-folder-open-alt"/>';
							break;
  					}%>
					<ul class="dir-list">
	  					<%_.each(dirs,function (dir) {%>
	  						<% if(dir.get('kind')==0){%>
		  					<li class="dir <%=$.cookie(dir.get('path'))==true?'active':''%>">
				  				<div href="#dir<%=dir.get('path')%>" class="dropdown content">
				  					<i class="icon-caret-down dir-caret"></i><i class="icon-caret-right dir-caret"></i>
				  					<span><%=dir.get('name')%></span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
				  					<ul class="setting-dropdown dropdown-menu">
				  						<a href="javascript:void(0)"> <li target='addfile'>添加文件</li></a>
				  						<a href="javascript:void(0)"> <li target='adddir'>添加目录</li></a>
				  					</ul>
				  				</div>
	  						<%=showDir(dir.get('children'),deep+1)%>
		  					</li>
	  						<%}else{%>
	  							<li class="file">
			  						<div href="#file<%=dir.get('path')%>" class="dropdown content">
			  							<i class="icon-file-alt"> </i><span><%=dir.get('name')%></span>
			  							<i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
			  							<ul class="setting-dropdown dropdown-menu">
			  								<a href="javascript:void(0)"> <li target='diff'>比较文件</li></a>
			  								<a href="javascript:void(0)"> <li target='rename'>重命名</li></a>
			  								<a href="javascript:void(0)"> <li target='delete'>删除</li></a>
			  							</ul>
			  						</div>
	  							</li>
	  						<%}%>
	  					<%}) %>
	  				</ul>
  				</script>
<!--   				<div id="file-list">
	  				<ul class="product-list dir-list">
	  					<li class="product dir">
	  						<div class="dropdown content">
	  							<i class="icon-caret-down dir-caret"></i><i class="icon-caret-right dir-caret"></i>
	  							<span>KXD</span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
	  							<ul class="setting-dropdown dropdown-menu">
	  								<a href="#"> <li target='add'>添加组件</li></a>
	  								<a href="#"> <li target='rename'>重命名</li></a>
	  							</ul>
	  						</div>
	  						<ul class="component-list dir-list">
	  							<li class="component dir">
	  								<div class="dropdown content">
	  									<i class="icon-caret-down dir-caret"></i><i class="icon-caret-right dir-caret"></i>
	  									<span>tomcat</span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
	  									<ul class="setting-dropdown dropdown-menu">
	  										<a href="#"> <li target='add'>添加文件</li></a>
	  										<a href="#"> <li target='rename'>重命名</li></a>
	  									</ul>
	  								</div>
	  								<ul class="dir-list">
	  									<li class="dir">
			  								<div class="dropdown content">
			  									<i class="icon-caret-down dir-caret"></i><i class="icon-caret-right dir-caret"></i>
			  									</i><span>config2</span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
			  									<ul class="setting-dropdown dropdown-menu">
			  										<a href="#"> <li target='diff'>比较文件</li></a>
			  										<a href="#"> <li target='rename'>重命名</li></a>
			  										<a href="#"> <li target='delete'>删除</li></a>
			  									</ul>
			  								</div>
	  									</li>
	  								</ul>
	  							</li>
	  						</ul>
	  					</li>
	  				</ul>
  				</div> -->
			</div>
			<script type="text/template" id="file-nav-temp">
				<ul class="version-list" id="file-nav">
					<div class="new-cache">
						<span>未提交文件</span>
					</div>
					<%_.each(logList.models,function (log) {%>
						<li class="version-item" revision="<%=log.get('revision')%>">
							<div class="version dropdown">
								<span>@Version: <%=log.get('revision')%> </span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
	  							<ul class="version-dropdown dropdown-menu">
	  								<a href="javascript:void(0)"><li class='file-diff'>比较版本改动</li></a>
	  								<a href="javascript:void(0)"><li class='file-copy'>拷贝</li></a>
	  								<a href="javascript:void(0)"><li class="file-edit">编辑</li></a>
	  							</ul>
	  							<p>
									<span>@Author: <%=log.get('author')%></span>
									<br/>
									<span>@Time: <%=new Date(log.get('date')).pattern('yyyy-MM-dd hh:mm')%></span>
								</p>
							</div>
						</li>
					<%})%>
				</ul>
			</script>
			<script type="text/template" id="component-nav-temp">
				<ul class="version-list" id="comp-nav">
					<%_.each(logList.models,function (log) {%>
						<li class="version-item" revision="<%=log.get('revision')%>">
							<div class="version dropdown">
								<span>@Version: <%=log.get('revision')%> </span><i class="icon-cogs setting dropdown-toggle" data-toggle="dropdown"></i>
	  							<ul class="version-dropdown dropdown-menu">
	  								<a href="javascript:void(0)"><li class='file-copy'>拷贝</li></a>
	  								<a href="javascript:void(0)"><li class='file-copy'>导出</li></a>
	  							</ul>
	  							<p>
									<span>@Author: <%=log.get('author')%></span>
									<br/>
									<span>@Time: <%=new Date(log.get('date')).pattern('yyyy-MM-dd hh:mm')%></span>
								</p>
							</div>
						</li>
					<%})%>
				</ul>
			</script>
			<div class="right-nav">
			</div>
			<div>
			<div class="page-wrapper">
			</div>
			</div>
			<script type="text/template" id="reader-temp">
				<div class="edit-board reader-board" id="reader-board">
					<div class="form-horizontal">
					  	<div class="form-group">
					    	<label class="col-sm-1 control-label">搜索</label>
					    	<div class="col-sm-8">
					      		<input class="form-control" name='search'>
					    	</div>
					    	<button class="btn btn-primary " id="search">搜索</button>
					  	</div>
					</div>
					<span><b><%=detail.get('path')%></b> </span>
					<a href="javascript:void(0)" class='edit-file file-op'><i class="icon-edit"></i> 编辑</a>
					<a href="javascript:void(0)" class='copy-file file-op'><i class="icon-copy"></i> 拷贝</a>
					<a href="javascript:void(0)" class='diff-file file-op'><i class="icon-search"></i> 比较</a>
					<div class="file-type">
					文件类型：
						<select class="form-control">
							<option value='xml'>XML</option>
							<option value='diff'>diff</option>
							<option value='ini'>ini/properties</option>
						</select>
					</div>
					<div id='reader'><xmp><%=detail.get('content')%></xmp></div>
					<div class="comment-field">
						<textarea class="form-control" rows="3" placeholder="@comment" readonly>@Comment:<%=detail.get('comment')%></textarea>
					</div>
				</div>
			</script>
			<script type="text/template" id="editor-temp">
				<div class="edit-board" id="editor-board">
					<div class="form-horizontal">
						<div class="form-group">
						    <label class="col-sm-1 control-label">搜索</label>
						    <div class="col-sm-8">
						      	<input class="form-control" name='search'>
						    </div>
						    <button class="btn btn-primary " id="search">搜索</button>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-1 control-label">替换</label>
						    <div class="col-sm-4 replace-input">
						      	<input class="form-control" name='origin'>
						    </div>
						    <div class="col-sm-4 replace-input">
						      	<input class="form-control" name='revise'>
						    </div>
						    <button class="btn btn-default " id="replace">替换</button>
						    <button class="btn btn-primary " id="replace-all">替换全部</button>
						</div>
					</div>
					<span><b><%=data.path%></b></span>
					<div class="file-type">文件类型：
						<select class="form-control">
							<option value='xml'>XML</option>
							<option value='diff'>diff</option>
							<option value='ini'>ini/properties</option>
						</select>
					</div>
					<div id='editor'><xmp><%=data.content%></xmp></div>
					<div class="commit-buttons">
						<button class="btn btn-danger cancel">取消更改</button>
						<button class="btn btn-default save">保存</button>
						<div class='save-message'></div>
					</div>
				</div>
			</script>
			<script type="text/template" id="diff-temp">
				<div class="diff-board" id="diff-board">
					<h4>DIFF</h4>
					<a href="#file<%=detail.get('fileA')%>"><b>@file:<%=detail.get('fileA')%></b></a>
					<span><b>@revision:<%=detail.get('rA')==0?'HEAD':detail.get('rA')%></b></span>
					<br/>
					<a href="#file<%=detail.get('fileB')%>"><b>@file:<%=detail.get('fileB')%></b></a>
					<span><b>@revision:<%=detail.get('rB')==0?'HEAD':detail.get('rB')%></b></span>
					<div class="file-type">文件类型：
						<select class="form-control">
							<option value='diff'>diff</option>
							<option value='xml'>XML</option>
							<option value='ini'>ini/properties</option>
						</select>
					</div>
					<div></div>
					<div id='diff'><xmp><%=detail.get('diff')%></xmp></div>
				</div>
			</script>
			<script type="text/template" id="component-temp">
					<ul id="component-file-list" class="component-content">
						<%_.each(fileList.models,function (file) {%>
							<%if(file.get('kind')==1){%>
							<li>
								<div class="file-info">
									<span><%=path+'/'+file.get('path')%></span>
									<br>
									<div class='col-lg-3'><span>@Version: <%=file.get('version')%></span></div>
									<div class='col-lg-3'><span>@Time: <%=new Date(file.get('date')).pattern('yyyy-MM-dd hh:mm')%></span></div>
									<div class='col-lg-3'><span>@Author: <%=file.get('author')%></span></div>
									<div class='col-lg-8'><span>@Comment: <%=file.get('comment')%></span></div>
									<div>
										<a href="#file<%=path+'/'+file.get('path')+'?'+file.get('version')%>" class="btn btn-primary">查看详情</a>
									</div>
								</div>
							</li>
							<%}%>
						<%})%>
					</ul>
			</script>
			<script type="text/template" id="component-change-temp">
				<div id="component-change-list">
					<ul class="comp-change-content">
					<%if(!fileList||fileList.length==0){%>
						<div class='commit-success alert alert-success alert-dismissible'>所有更改已成功提交!</div>
					<%}else{%>
						<%_.each(fileList,function (file) {%>
							<li path='<%=file.path%>' action="<%=file.action%>" kind=<%=file.kind%>>
								<div class="file-info">
									<%if(file.action=='add'){ %>
										<span class='add'><b>@add </b><%=file.path%></span>
									<%}else if(file.action=='update'){%>
										<span class='modify'><b>@modify </b><%=file.path%></span>
									<%}else if(file.action=='delete'){%>
										<span class='delete'><b>@delete </b><%=file.path%></span>
									<%}%>
									<br>
									<div class='col-lg-4'><span>@Time: <%=new Date(file.date).pattern('yyyy-MM-dd hh:mm')%></span></div>
									<div class='col-lg-4'><span>@Author: 暂无</span></div>
									<div>
										<button class="btn btn-danger cancel">撤销更改</button>
										<%if(file.kind==1){%>
											<a href="#file<%=file.path%>"  class="btn btn-default">查看详情</a>
										<%}else{%>
											<a href="#dir<%=file.path%>"  class="btn btn-default">查看详情</a>
										<%}%>      
										<div class="checkbox">
									        <label>
									          	<input type="checkbox" checked="true"> 选择
									        </label>
								      	</div>
									</div>
								</div>
							</li>
						<%})%>
					<%}%>
					</ul>
					<div class="component-comment">
						<textarea class="form-control" rows="4" placeholder="@comment"></textarea>
					</div>
					<div class="commit-buttons component-commit">
						<button class="btn btn-primary commit">提交</button>
						<div class='save-message'></div>
					</div>
				</div>
			</script>

			<script type="text/template" id="conflict-temp">
				<ul class="version-list">
					<%if(fileList.length>0){%>
						<div class="conflict-hint">
							<span>所有冲突</span>
						</div>
					<%}else{%>
						<div class="conflict-hint non-conflict">
							<span>无冲突</span>
						</div>
					<%}%>
					<%_.each(fileList,function (file) {%>
						<a href="#conflict<%=file%>">
							<li class='conflict-li'><span><%=file%></span></li>
						</a>
					<%})%>
				</ul>
			</script>


			<script type="text/template" id="conflict-editor-temp">
				<div class="edit-board" id="conflict-board">
					<div class="form-horizontal">
						<div class="form-group">
						    <label class="col-sm-1 control-label">搜索</label>
						    <div class="col-sm-8">
						      	<input class="form-control" name='search'>
						    </div>
						    <button class="btn btn-primary " id="search">搜索</button>
						  </div>
						  <div class="form-group">
						    <label class="col-sm-1 control-label">替换</label>
						    <div class="col-sm-4 replace-input">
						      	<input class="form-control" name='origin'>
						    </div>
						    <div class="col-sm-4 replace-input">
						      	<input class="form-control" name='revise'>
						    </div>
						    <button class="btn btn-default " id="replace">替换</button>
						    <button class="btn btn-primary " id="replace-all">替换全部</button>
						</div>
					</div>
					<span><b><%=data.path%></b></span>
					<div class="file-type">文件类型：
						<select class="form-control">
							<option>XML</option>
							<option>ini/properties</option>
							<option>diff</option>
						</select>
					</div>
					<div id='conflict'><xmp><%=result%></xmp></div>
					<div class="commit-buttons">
						<button class="btn btn-default resolve">解决冲突</button>
						<div class='save-message'></div>
					</div>
				</div>
			</script>
		</div>
		<div class="modal fade" id="add-product-modal">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">名称</h4>
		      		</div>
		      		<div class="modal-body">
						<div class="form-horizontal">
						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">Path</label>
						    	<div class="col-sm-10">
						      		<input class="form-control" name="addpath">
						    	</div>
						  	</div>
						  	<div class="form-group">
						    	<label class="col-sm-2 control-label">Path</label>
						    	<div class="col-sm-10">
								  	<label class="radio-inline">
									  	<input type="radio" value="file" name="addtype"> 文件
									</label>
									<label class="radio-inline">
									  	<input type="radio" value="dir" name="addtype"> 目录
									</label>
						    	</div>
						  	</div>
		        		</div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        		<button type="button" class="btn btn-primary" id='add-commit'>添加</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="modal fade" id="rename-modal" origin="">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">新名称</h4>
		      		</div>
		      		<div class="modal-body">
		        		<input class="form-control">
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        		<button type="button" class="btn btn-primary" id="rename-commit">确认修改</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<div class="modal fade" id="diff-modal">
		  	<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">比较文件</h4>
		      		</div>
		      		<div class="modal-body">
		      			<div class="form-horizontal">
			      			<div class="form-group">
						    	<label class="col-sm-2 control-label">选择文件</label>
						    	<div class="col-sm-10">
						      		<input class="form-control diff-input" name="fileA" placeholder="file">
						      		<div class="file-hint"></div>
						    	</div>
			      			</div>
			      			<div class="form-group">
						    	<label class="col-sm-2 control-label">选择版本</label>
						    	<div class="col-sm-10">
						      		<input class="form-control" name="revisionA" placeholder="revision">
						    	</div>
			      			</div>
			      			<div class="fileA-info">
			      			</div>

			      			<div class="form-group">
						    	<label class="col-sm-2 control-label">选择文件</label>
						    	<div class="col-sm-10">
						      		<input class="form-control diff-input" name="fileB" placeholder="file">
						      		<div class="file-hint"></div>
						    	</div>
			      			</div>

			      			<div class="form-group">
						    	<label class="col-sm-2 control-label">选择版本</label>
						    	<div class="col-sm-10">
						      		<input class="form-control" name="revisionB" placeholder="revision">
						    	</div>
			      			</div>
			      			<div class="fileB-info">
			      			</div>
			      			<script type="text/template" id="diff-file-info">
			      				<div class="form-group"><label class="col-sm-2 control-label">修改时间</label><span><%=data.date%></span></div>
			      				<div class="form-group"><label class="col-sm-2 control-label">提交信息</label><span><%=data.comment%></span></div>
			      			</script>
		      			</div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		        		<button type="button" class="btn btn-primary" id="diff-commit">比较文件</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<script type="text/javascript" src="require.js" data-main="app.js"></script>
	</body>
</html>