<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Free Bootstrap Admin Template : Dream</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet" />
        <link href="../css/font-awesome.min.css" rel="stylesheet" />
        <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <link href="css/detail.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <div id="warpper-top">
            </div>
            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="page-title">
                        <h3>未选择服务</h3>
                    </div>
                    <script type="text/template" id="title-temp">
                        <span><strong>ServiceInformation </strong></span>
                        <span>Service:<b><%=monitor.get('item')%></b></span>
                        <span> Host:<b><a href="hostdetail.html"><%=monitor.get('host')%></a></b></span>
                        <span> Address:<b><%=monitor.get('address')%></b></span>
                        <span><a href="hostdetail.html"><b>查看主机信息</b></a></span>
                    </script>

                    <div>
                        <ul class="page-button">
                            <li class="view-button active" target="page-detail"><span>StatusDetail</span></li>
                            <li class="view-button" target="page-trends"><span>History</span></li>
                            <li class="view-button" target="alert-history"><span>AlertHistory</span></li>
                            <li class="view-button" target="page-report"><span>Report</span></li>
                            <li class="view-button" target="notification-history"><span>Notification</span></li>
                        </ul>
                    </div>
                    <div class="page-container">
                        <script type="text/template" id="detail-temp">
                            <div class="page-detail col-lg-offset-2 col-lg-8 page-block">
                                <div class="col-lg-offset-2">
                                    <label>CurrentStatus</label><span>
                                    <% var state;
                                        if(detail.get('current_state')==0)
                                            state="ok";
                                        else if(detail.get('current_state')==1)
                                            state="warning"
                                        else if(detail.get('current_state')==2)
                                            state="critical";
                                        else state="unknown";
                                    %>
                                    <span class="badge <%=state%>"><%=state%></span></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>StatusInfo</label><span><%=detail.get('statusInfo')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Performance</label><span><%=detail.get('perfdata')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Current Attempt</label><span>(<%=detail.get('current_check_attempt')%>/<%=detail.get('max_check_attempts')%>)</span>
                                </div >
                                <div class="col-lg-offset-2">
                                    <label>Last Check Time</label><span><%=detail.get('last_check')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Check Type</label><span>
                                    <%if(detail.get('check_type')==0){ %>
                                    <span>ACTIVE</span>
                                    <%}else{%>
                                    <span>INACTIVE</span>
                                    <%}%>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Check Latency</label><span><%=detail.get('latency')%>/<%=detail.get('execution_time')%> seconds</span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Next Sechedule Check</label><span><%=detail.get('next_check')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Last State Change</label><span><%=detail.get('last_state_change')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <label>Last Notification</label><span><%=detail.get('statusInfo')%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <% var check;
                                    if(detail.get('is_flapping')==0){
                                            state="ok";
                                            check="NO";
                                        }else{ 
                                            state="unknown";
                                            check="YES";
                                        }
                                    %>
                                    <label>Is Service Flapping</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <% 
                                    if(detail.get('scheduled_downtime_depth')==0){
                                            state="ok";
                                            check="NO";
                                        }else{ 
                                            state="unknown";
                                            check="YES";
                                        }
                                    %>
                                    <label>In Secheduled Downtime</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('active_checks_enabled')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Active Check</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('passive_checks_enabled')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Passive Check</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('obsess')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Obsessing Check</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('notifications_enabled')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Notifications Check</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('event_handler_enabled')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Event Handler</label><span class="badge <%=state%>"><%=check%></span>
                                </div>                                <div class="col-lg-offset-2">
                                    <%  if(detail.get('flap_detection_enabled')==1){
                                            state="ok";
                                            check="ENABLE";
                                        }else{ 
                                            state="unknown";
                                            check="UNABLE";
                                        }  %>
                                    <label>Flap Detection</label><span class="badge <%=state%>"><%=check%></span>
                                </div>
                            </div>
                        </script>

                        <div class="alert-history col-lg-offset-2 col-lg-8 page-block">
                            <table class="time-title">
                                <td width="30%" align="center"><span class="icon-circle-arrow-left icon"></span></td>
                                <td align="center"><strong>2015,08-04,21:00<br/>to<br/>2015,08-04,21:00</strong></td>
                                <td width="30%" align="center"><span class="icon-circle-arrow-right icon"></span></td>
                            </table>
                            <table width="100%">
                                <td width="35%"><hr /></td>
                                <td align="center">2015,08-04,21:00</td>
                                <td width="35%" ><hr/></td>
                            </table>
                            <div>
                                <p><em>[08-04-2015] </em>nagios start</p>
                                <p><em>[08-04-2015] </em>nagios start</p>
                            </div>
                            <table width="100%">
                                <td width="35%"><hr /></td>
                                <td align="center">2015,08-04,21:00</td>
                                <td width="35%" ><hr/></td>
                            </table>
                            <div>
                                <p><em>[08-04-2015] </em>nagios start</p>
                                <p><em>[08-04-2015] </em>nagios start</p>
                            </div>                        
                        </div>
                        <div class="col-lg-offset-1 col-lg-10 page-block page-trends">
                            <div class="input-form">
                                <form class="form-horizontal">
                                   <div class="form-group col-sm-4">
                                        <label class="col-xs-5 control-label">开始时间</label>
                                        <div class="input-group date form_datetime col-xs-7">
                                            <input class="form-control" size="16" type="text" readonly name="start">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input1" value="" /><br/>
                                    </div>
                                   <div class="form-group col-sm-4">
                                        <label class="col-xs-5 control-label">结束时间</label>
                                        <div class="input-group date form_datetime col-xs-7">
                                            <input class="form-control" size="16" type="text" readonly name="end">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input1" value="" /><br/>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <button class="btn btn-primary" type="button" id="create-button" style="margin-left:40px">查看历史数据</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option name="day">last day</option>
                                            <option name="week">last week</option>
                                            <option name="month">last month</option>
                                            <option name="year">last year</option>
                                            <option name="all">all</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div id="detail-chart" class="col-sm-12" align="center"></div>
                        </div>
                        <div class="col-lg-offset-2 col-lg-8 page-block page-report" align="center">
                            <table class="table" valign="middle">
                                <tr>
                                    <th>State</th><th>Type</th><th>Time</th><th>(%)TotalTime</th><th>(%)KnownTime</th>
                                </tr>
                                <tr>
                                    <td class="serviceok" rowspan="3">OK</td><td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>
                                <tr>
                                    <td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>
                                <tr>
                                    <td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>                                
                                <tr>
                                    <td class="servicewarning" rowspan="3">warning</td><td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>
                                <tr>
                                    <td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>
                                <tr>
                                    <td>Unscheduled</td><td>1d 0h 0s 0s</td><td>100.00%</td><td>100.00%</td>
                                </tr>
                            </table>
                        </div>
                        <div class="notification-history col-lg-offset-2 col-lg-8 page-block">
                            <table class="time-title">
                                <td width="30%" align="center"><span class="icon-circle-arrow-left icon"></span></td>
                                <td align="center"><strong>2015,08-04,21:00<br/>to<br/>2015,08-04,21:00</strong></td>
                                <td width="30%" align="center"><span class="icon-circle-arrow-right icon"></span></td>
                            </table>
                            <table width="100%">
                                <td width="35%"><hr /></td>
                                <td align="center">2015,08-04,21:00</td>
                                <td width="35%" ><hr/></td>
                            </table>
                            <div>
                                <p><em>[08-04-2015] </em>nagios start</p>
                                <p><em>[08-04-2015] </em>nagios start</p>
                            </div>
                            <table width="100%">
                                <td width="35%"><hr /></td>
                                <td align="center">2015,08-04,21:00</td>
                                <td width="35%" ><hr/></td>
                            </table>
                            <div>
                                <p><em>[08-04-2015] </em>nagios start</p>
                                <p><em>[08-04-2015] </em>nagios start</p>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="require.js" data-main="app/detailApp.js"></script>

    </body>
</html>