a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
	padding-left: 0px;
}
#operation-list{
	padding: 10px;
	border: 1px solid #DFDFDF;
	display: none;
	margin-bottom: 10px;
}
.badge-remove:hover {
	color: #FF0202;
}
.badge.badge-exist{
	background-color: #286DFF;
}
.badge{
	border-radius: 3;
	font-size: 15px;
	padding: 5px;
	margin-right: 2px;
}
.badge-choose{
	background-color: #66CC99;
}
.form-group .badge{
	font-size: 17px;
}
.edit-user-form{
	display: none;
}
.add-user-form{
	display: none;
}
.create-role-link{
	padding-right: 60px;
	font-size: 17px;
}
.edit-role-form{
	display: none;
}
.module-list{
	list-style-type: none;
	padding-left: 0px;
}
.module-list > li > a{
	padding: 7px 2px;
	font-size: 16px;
}
.module-list > li > a:hover{
	text-decoration: none;
}
.module-list .checkbox{
	display: none;
}
.checkbox table >tbody>tr>td{
	padding: 2px 8px;
}
.permission-name{
	min-width: 150px;
}
#add-new-role{
	background-color: #fff;
	margin: 0px;
	display: block;
	color: #333;
	margin-bottom: 10px;
}
.role-admin-form{
	display: none;
}
.module-list td > label{
	position: relative;
}
.module-list input[type=checkbox]{
	visibility: hidden;
}
.module-list input + i{
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #999;
	position: absolute;
	left: -3px;
	top: 2px;
	border: 3px solid #ddd
}
.module-list input[type=checkbox]:checked + i{
	background-color: #009933;
}
.frame-header{
	padding: 3px 15px;
	border-bottom: 1px solid #ADADAD;
	background-color: #eee;
	color: #555;
	font-size: 15px;
}
.choose-frame{
	min-height: 200px;
	max-height: 500px;
	border: 1px solid #ADADAD;
	border-radius: 3px;
	padding: 0px 0px;
}
.permit-button{
	margin-right: -10px;
	margin-top: 10px;
}
.choose-frame a.chosen{
	background-color: #2A7DC9;
	color: #eee;
}
.list-frame a{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	cursor: pointer;
	display: block;
}
.list-frame a:hover{
	background-color: #2A7DC9;
	color: #eee;
	
}
.children,.parent{
	cursor: pointer;
}
.children:hover,.parent:hover{
	background-color: #2A7DC9;
}
.children:hover>span,.parent:hover>span{
	color: #eee;
}
.add-button{
	float: right;
	display: inline-block;
	font-size: 15px;
	border: 2px solid #fff;
	padding: 3px 10px;
	cursor: pointer;
	-webkit-transition: all .10s ease-out;
}
.add-button:hover{
	border: 2px solid #555;
}
.success-hint{
	color: green;
}
.error-hint{
	color: red;
}